.lang-label {
  color: var(--ion-color-medium);
  font-size: 0.9em;
  font-weight: normal;
}

.arrow-icon {
  margin: 0 8px;
  color: var(--ion-color-primary);
}

.context {
  color: var(--ion-color-medium);
  font-style: italic;
  margin-top: 4px;
  font-size: 0.9em;
}

