<div class="audio-player-container">
  
  <div class="progress-container">
    <ion-range 
      [min]="0" 
      [max]="duration || 100" 
      [value]="currentTime"
      (ionChange)="onSliderChange($event)"
      color="primary">
    </ion-range>
  </div>
  
  <div class="controls-container">
    <ion-button fill="clear" (click)="stop()" [disabled]="!isPlaying && !isPaused">
      <ion-icon name="stop" slot="icon-only"></ion-icon>
    </ion-button>
    
    <!-- Spinner de chargement -->
    <div *ngIf="isLoading" class="loading-spinner">
      <ion-spinner name="crescent" style="width: 20px; height: 20px;"></ion-spinner>
    </div>
    
    <!-- Bouton play (masqué pendant le chargement) -->
    <ion-button *ngIf="!isPlaying && !isLoading" fill="clear" (click)="play()">
      <ion-icon name="play" slot="icon-only"></ion-icon>
    </ion-button>
    
    <ion-button *ngIf="isPlaying" fill="clear" (click)="pause()">
      <ion-icon name="pause" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
  
  <!-- <div class="speed-control">
    <ion-select [value]="playbackRate" (ionChange)="onPlaybackRateChange($event)" placeholder="Vitesse">
      <ion-select-option value="0.5">0.5x</ion-select-option>
      <ion-select-option value="0.75">0.75x</ion-select-option>
      <ion-select-option value="1">1x</ion-select-option>
      <ion-select-option value="1.25">1.25x</ion-select-option>
      <ion-select-option value="1.5">1.5x</ion-select-option>
      <ion-select-option value="2">2x</ion-select-option>
    </ion-select>
  </div> -->
</div> 