<ion-content [fullscreen]="true" class="home-content">
  <div class="home-minimal-shell">
    <div class="home-minimal-layout">
      <div class="circle-actions" [class.menu-open]="isMenuOpen">
        <button type="button" class="home-circle circle-learning" (click)="startKeepLearning()">
          <span>keep learning</span>
        </button>

        <button type="button" class="home-circle circle-practice" (click)="startKeepPractice()">
          <span>practice</span>
        </button>
      </div>

      <div class="menu-zone">
        <button
          type="button"
          class="dots-trigger"
          aria-label="Ouvrir le menu"
          [attr.aria-expanded]="isMenuOpen"
          (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <div *ngIf="isMenuOpen" class="menu-backdrop" (click)="closeMenu()"></div>

        <div *ngIf="isMenuOpen" class="floating-menu" role="menu" aria-label="Menu d'accueil">
          <button
            type="button"
            class="floating-menu-item"
            *ngFor="let item of menuItems"
            (click)="navigateTo(item.route)">
            <ion-icon [name]="item.icon" aria-hidden="true"></ion-icon>
            <span>{{ item.label }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
